*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: mintcream;
}



footer{
    width: 100%;
    position:absolute;
    bottom:0;
}
footer input{
    width: 100%;
}

@keyframes marquee1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}
